<section>
<h1> Welcome to the Jungle </h1>

<h2> We have fun and games, Feel free to spend all your money here!
We accept payments Via Stripe! </h2>

<img class="about-image" src="https://images.pexels.com/photos/2161449/pexels-photo-2161449.jpeg?cs=srgb&dl=pexels-quang-nguyen-vinh-2161449.jpg&fm=jpg" > 

</section>
