<h1> Welcome to the Jungle </h1>

<h2> We have fun and games, Feel free to spend all your money here!
We accept payments Via Stripe! </h2>

<img class "about-image" src=https://images.pexels.com/photos/396714/pexels-photo-396714.jpeg?cs=srgb&dl=pexels-andr%C3%A9-cook-396714.jpg&fm=jpg >