// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

h1 {
  font-family: fantasy;
}

h2 {
  font-family: fantasy;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.navbar-default {
  background-color: #dff0d8;
  border-color: #355035;
}
.about-image {
  min-width: 90vh;
  max-height: 70vh;
}

.jumbotron {

  background-color: #dff0d863;
}